body {
	padding: 2em;
	background-color: #334455;
	color: #cceeff;
	font-family: 'Courier New', Courier, monospace;
}

table {color: #000; background-color: #ccc}
.added {background-color: #aea;}
.removed {background-color: #ec9;}

table {font-size: 0.6em;}
table td {padding: 0 0.5em;}

.action {color: #222;}
.action.change {background-color:  #ee8;}
.action.add,
.action.readd {background-color:  #afa;}
.action.invalidate, 
.action.remove {background-color:  #faa;}

.versions .changes {font-size: 0.8em; padding: 0.5em 0em 1em 1em;}

.icon {width: 1em; height: 1em; display: inline-block; background-size: contain; filter: invert()}
.comment.icon {background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABlUlEQVRIidXUsUtVYRgG8F9iEhVeArE/oFvQFBZEYC06uLg1GQ3l4NouEbU1ZdDQko7R0tQkd9WgJSnMJdC5hkoTzAZvw3kPHuS793xXdOiBj+/wvs/zvO/7nfMd/necqMk3MIUJXMFwxL/hExbxBpu9Fu7HI/xCu2b9xMPQZOE83lcMFnEPTZyOdRH3I1fylisTdkQDKyFYx2hGQzexEZqP4dERC0H8gqEM8xJDWAvtq06kq9jDDi7UGD5OxJqh3cNISvQ8OnhW22/BSxWZi9xcSrQayeuZBVJFbkT8c0q0FcnBhFG39bTCb0Rsqwz0HTA7DP5Unv/GfjJFPIojuubAEVUnaMU+lVEAniQKTMb+ISUYsf+ZNmvMU1/QOXxXTDDeSTgfhDW9XTR4GdpVXX6iDcV1byuu/61M8zuK6dsYqyMPY8n+i2xhGpdwBmdxGbeDP4Hd4L7IbEg/ZvFD9ztwt2LewkBugRKDmMFbfMU2flcKlMfyDqd6Ne+G6hSvHaLznAI7eHDUxiWWFC/62NBXTynwD6kIgLr1FV3zAAAAAElFTkSuQmCC");}
.auto.icon {background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABmJLR0QA/wD/AP+gvaeTAAAB90lEQVRIia3WS4jNURwH8I+LhTxGSd2FlceKhSTFeC5QlNmQUhopQ1MWSqJspDxmQcljc2VKlAXZszRjM0VZKCRjNQujPCJvi3Omzhz//9x7/+Zbp3t+j/P9nv//d/6/c/l/rMYt1KM9Aw1smATucTiDP7iNhbgQ7f7JFtoTifNxJE2aWpG8EyexQHiiWQU5K/EOe/Gjoo7rxu/+J85hO85H4jR+t6rQTFxKiPqy+KkkdgfzqwrB4oSsK4ttSmLLoVZRpAMnEnt9Fl+XzA9jbkUdN/xboz5sw2l802aN+vFeqEeKzug7hBHFx3sUvbiCrTlxR2Y/i4seZ/45yXx/iVBvuiCt0XG8xs5or8WSOF+GVXG+C8M4Gu0V8beBRbgW7aX5U8A8fE5286Zkly+S+ae4bqPQ68bexmyhHW0uEoKeEvKysa+MqBlqQgFTsie4iaeZf7iqCGzJyNKmOAXHsviadgUaGMTHhGSgJHcoyfmAR7jaqlDR+788waby3K+tiNRwD6/wO/EXHs3M/wsvcb8VoRRd2U67s/iBLF56fJthmtBuUrIHwtX8MPO/FQ5IJXQrrlfZ2F1FpC6covSrLyJPn3hU6Axt42IU6MF0oed9j6RfsEP4j3FQaFdnq4iMoZ7Zz6PQUJO8pshv2JECIcJ1MVFeU/wFfwPJhAy7R8MAAAAASUVORK5CYII=");}
